In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\mhema\OneDrive\Desktop\Python_Batch_2026\Python Dec'25 Training\iris.csv")

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
series = df['variety']
print(type(series))

<class 'pandas.core.series.Series'>

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  153 non-null    float64
 1   sepal.width   153 non-null    float64
 2   petal.length  153 non-null    float64
 3   petal.width   153 non-null    float64
 4   variety       154 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.1+ KB

In [10]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    153.000000   153.000000    153.000000   153.000000
mean       5.850327     3.056863      3.787582     1.213725
std        0.822074     0.434342      1.760320     0.761928
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [15]:
df.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
151           6.5          3.0           5.2          2.0  Virginica
152           6.2          3.4           5.4          2.3  Virginica
153           5.9          3.0           5.1          1.8  Virginica

In [16]:
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [19]:
df.loc[1, 'petal.length']

1.4

In [21]:
df.iloc[1, 2] = 5

In [22]:
df.iloc[1, 2]

5.0

In [ ]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
149           5.9          3.0           5.1          1.8  Virginica
150           6.3          2.5           5.0          1.9  Virginica
151           6.5          3.0           5.2          2.0  Virginica
152           6.2          3.4           5.4          2.3  Virginica
153           5.9          3.0           5.1          1.8  Virginica

In [24]:
sepal_length = df['sepal.length']

In [35]:
sepal_length.mode()

0    5.0
Name: sepal.length, dtype: float64

In [38]:
df[['petal.length', 'sepal.length']]

     petal.length  sepal.length
0             1.4           5.1
1             5.0           4.9
2             1.3           4.7
3             1.5           4.6
4             1.4           5.0
..            ...           ...
149           5.1           5.9
150           5.0           6.3
151           5.2           6.5
152           5.4           6.2
153           5.1           5.9

[154 rows x 2 columns]

In [ ]:
df[(df['variety'] == 'Virginica') & (df['sepal.length'] >= 7)]

     sepal.length  sepal.width  petal.length  petal.width    variety
131           7.9          3.8           6.4          2.0  Virginica
117           7.7          3.8           6.7          NaN  Virginica
118           7.7          2.6           6.9          2.3  Virginica
122           7.7          2.8           6.7          2.0  Virginica
135           7.7          3.0           6.1          2.3  Virginica
105           7.6          3.0           6.6          2.1  Virginica
130           7.4          2.8           6.1          1.9  Virginica
107           7.3          2.9           6.3          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
125           7.2          3.2           6.0          1.8  Virginica
129           7.2          3.0           5.8          1.6  Virginica
102           7.1          3.0           5.9          2.1  Virginica

In [61]:
df.sort_values(by='sepal.length', ascending=True)

     sepal.length  sepal.width  petal.length  petal.width    variety
13            4.3          3.0           1.1          0.1     Setosa
38            4.4          3.0           1.3          0.2     Setosa
42            4.4          3.2           1.3          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
41            4.5          2.3           1.3          0.3     Setosa
..            ...          ...           ...          ...        ...
135           7.7          3.0           6.1          2.3  Virginica
122           7.7          2.8           6.7          2.0  Virginica
118           7.7          2.6           6.9          2.3  Virginica
131           7.9          3.8           6.4          2.0  Virginica
123           NaN          2.7           4.9          1.8  Virginica

[154 rows x 5 columns]

In [68]:
df.isnull().sum()

sepal.length    1
sepal.width     1
petal.length    1
petal.width     1
variety         0
dtype: int64

In [67]:
df.groupby(by=['variety']).median().to_csv("groupby_data.csv")

In [69]:
import matplotlib.pyplot as plt